In [1]:
import pandas as pd
import numpy as np

In [2]:
years=list(range(2020,2025))
months=list(range(1,13))

dataDir="data/"

In [3]:
year=2020
month=1
fileName=f"On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_{year}_{month}.csv"
df=pd.read_csv("data/"+fileName,low_memory=False)

In [17]:
typeMap={np.dtypes.Int64DType():'Integer',np.dtypes.Float64DType():'Double',np.dtypes.ObjectDType():'String'}
cols=list(range(56))
columns=df.columns[cols]
newColumns=[columns[i]+f"({typeMap[t]})" for i,t in enumerate(df.dtypes.iloc[cols]) ]

In [18]:
dfs=[]
for year in years[:1]: 
    for month in months[:3]:
        fileName=f"On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_{year}_{month}.csv"
        df=pd.read_csv("data/"+fileName,low_memory=False)
        df=df[columns]
        df.rename(columns=dict(zip(columns, newColumns)),inplace=True)
        dfs.append(df)

In [19]:
df=pd.concat(dfs,ignore_index=True)
df

,Year(Integer),Quarter(Integer),Month(Integer),DayofMonth(Integer),DayOfWeek(Integer),FlightDate(String),Reporting_Airline(String),DOT_ID_Reporting_Airline(Integer),IATA_CODE_Reporting_Airline(String),Tail_Number(String),...,ArrTimeBlk(String),Cancelled(Double),CancellationCode(String),Diverted(Double),CRSElapsedTime(Double),ActualElapsedTime(Double),AirTime(Double),Flights(Double),Distance(Double),DistanceGroup(Integer)
0,2020,1,1,17,5,2020-01-17,B6,20409,B6,N661JB,...,2200-2259,0.0,NaN,0.0,169.0,172.0,151.0,1.0,1133.0,5
1,2020,1,1,18,6,2020-01-18,B6,20409,B6,N584JB,...,2200-2259,0.0,NaN,0.0,169.0,174.0,147.0,1.0,1133.0,5
2,2020,1,1,19,7,2020-01-19,B6,20409,B6,N662JB,...,2200-2259,0.0,NaN,0.0,169.0,156.0,139.0,1.0,1133.0,5
3,2020,1,1,20,1,2020-01-20,B6,20409,B6,N784JB,...,2200-2259,0.0,NaN,0.0,169.0,180.0,140.0,1.0,1133.0,5
4,2020,1,1,21,2,2020-01-21,B6,20409,B6,N784JB,...,2200-2259,0.0,NaN,0.0,169.0,163.0,147.0,1.0,1133.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829838,2020,1,3,1,7,2020-03-01,UA,19977,UA,N776UA,...,1900-1959,0.0,NaN,0.0,470.0,462.0,435.0,1.0,3801.0,11
1829839,2020,1,3,1,7,2020-03-01,UA,19977,UA,N779UA,...,1800-1859,0.0,NaN,0.0,425.0,417.0,400.0,1.0,3801.0,11
1829840,2020,1,3,1,7,2020-03-01,UA,19977,UA,N79279,...,0800-0859,0.0,NaN,0.0,41.0,39.0,24.0,1.0,129.0,1
1829841,2020,1,3,1,7,2020-03-01,UA,19977,UA,N79279,...,0900-0959,0.0,NaN,0.0,40.0,36.0,24.0,1.0,129.0,1
1829842,2020,1,3,1,7,2020-03-01,UA,19977,UA,N17105,...,0900-0959,0.0,NaN,0.0,314.0,321.0,296.0,1.0,2486.0,10

In [20]:
df.to_csv("flights.csv",index=False)

In [6]:
list(df.dtypes)

[dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64')]

In [11]:
df.head()

,Year(Integer),Quarter(Integer),Month(Integer),DayofMonth(Integer),DayOfWeek(Integer),FlightDate(String),Reporting_Airline(String),DOT_ID_Reporting_Airline(Integer),IATA_CODE_Reporting_Airline(String),Tail_Number(String),...,ArrTimeBlk(String),Cancelled(Real),CancellationCode(String),Diverted(Real),CRSElapsedTime(Real),ActualElapsedTime(Real),AirTime(Real),Flights(Real),Distance(Real),DistanceGroup(Integer)
0,2020,1,1,17,5,2020-01-17,B6,20409,B6,N661JB,...,2200-2259,0.0,NaN,0.0,169.0,172.0,151.0,1.0,1133.0,5
1,2020,1,1,18,6,2020-01-18,B6,20409,B6,N584JB,...,2200-2259,0.0,NaN,0.0,169.0,174.0,147.0,1.0,1133.0,5
2,2020,1,1,19,7,2020-01-19,B6,20409,B6,N662JB,...,2200-2259,0.0,NaN,0.0,169.0,156.0,139.0,1.0,1133.0,5
3,2020,1,1,20,1,2020-01-20,B6,20409,B6,N784JB,...,2200-2259,0.0,NaN,0.0,169.0,180.0,140.0,1.0,1133.0,5
4,2020,1,1,21,2,2020-01-21,B6,20409,B6,N784JB,...,2200-2259,0.0,NaN,0.0,169.0,163.0,147.0,1.0,1133.0,5